/*TOP BAR*/
#ocheader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: #008dc2;
    float: right;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#ocheader a {
    text-decoration: none;
    color: white;
}

h2 {
    padding-left: 10em;
}

h5 {
    float: left;
    padding-left: 5em;
    padding-top: .4em;
}

/*SIDE BAR*/

#sidebar {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 10em;;
    background-color: #23282b;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 3em 0 10em 0;
    color: white;
	text-align: center;
}

#toolbar a {
    color: white;
    text-align: center;    
}

/*TOOLS*/

#toolbar {
    display: block;
    border: 1px solid #ccc;
    margin: 1em;    
}

#sidebar p {
    font-size: .9em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.sidebarbtn {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    text-decoration: none;
    padding: 1em 0;
    width: 100%;
}

.sidebarbtn a {
    color: white;
}

.sidebarbtn:hover {
    background: rgba(0, 141, 194, .9);
}

#searchEmployee {
	font-size: 1.2em;
	padding: 0;
	width: 90%;
}
#searchbtn, #ocCollapseAll, #searchEmployee {
	display: none;
}



#draggable { 
    cursor: all-scroll;
}

/*CONTENT*/

#content {
    position: fixed;
    top: 5em;
    bottom: 0;
    left: 10em;
    right: 0;
    background-color: white;
    overflow: hidden;
    float: right;
}

#orgchart  {
    position:absolute;
    padding: 20px 0 0 0;
}

div.ocparent {
    font-weight: 800;
}
div.ocstaff {
    text-align:center;
	padding-bottom: 2px;
}
div.ocparent:empty {
    display: none;
}

.ocname {
    font-weight: 600;
    font-size: 1.2em;
}

/*DRAW LINES AND BOXES*/

.octree {
    min-width: 10000px;
    margin-left: 1em;
    margin-right: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;    
}
.octree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
        white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}
.octree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/* ::before and ::after to draw the connectors*/
.octree li::before, .octree li::after {
    content:'';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.octree li:after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
/*Remove left-right connectors from elements without 
any siblings*/
.octree li:only-child::after, .octree li:only-child::before {
    display: none;
}
/*Remove space from the top of single children*/
.octree li:only-child {
    padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.octree li:first-child::before, .octree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.octree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.octree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
/*Add downward connectors from parents*/
.octree ul ul::before {
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    margin-left: -1px;
    white-space: nowrap;
}
.octree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 10px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    background-color: #f2f2f2;    
}

.octree li a .ocname {
    font-weight: 700;
    color: #008dc2;
}

/* HOVER EFFECTS*/

/*Apply the hover effect to the lineage of the element */
.octree li a:hover, .octree li a:hover+ul a {
    border: 1px solid #94a0b4;
    background-color: rgba(0, 141, 194, .25);
}

/*Connector styles on hover*/
.octree li a:hover+ul li::after, .octree li a:hover+ul li::before, .octree li a:hover+ul::before, .octree li a:hover+ul ul::before {
    border-color: #008dc2;
}

/*FOOTER*/

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1em;;
    background-color: lightslategray;
}
